

# excluir arcchivos de Node.js/
    node_modules/
    
# excluir archivos temporais 
    dist/
    build/
    out/
    tmp/
    dist/
    build/
    out/
    tmp/

# Excluir arquivos de configuración de IDEs
    *.sublime-project
    *.sublime-workspace
    *.vscode

