# .gitignore para proyecto HTML/CSS/JS

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales de VSCode
.vscode/
*.code-workspace

# Archivos temporales de sistema operativo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Archivos de node
node_modules/

# Archivos de modules de Node.js
 node_modules

#Ficheros temporales de compilación
dist/
build/
out/
tmp/


# Archivos de configuración de IDEs
*.sublime-project
*.sublime-workspace
*.vscode

#Fichero de package-lock
package-lock.json

